.consultant-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.consultant-dashboard .chart-container,
.consultant-dashboard .table-container {
    flex: 1;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
    overflow: auto;
}

.consultant-dashboard .chart-container h2,
.consultant-dashboard .table-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.consultant-dashboard table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.consultant-dashboard table,
.consultant-dashboard th,
.consultant-dashboard td {
    border: 1px solid #ddd;
}

.consultant-dashboard th,
.consultant-dashboard td {
    padding: 8px 12px;
    text-align: center;
}

.consultant-dashboard th {
    background-color: #4CAF50;
    color: white;
}

.consultant-dashboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

.consultant-dashboard tr:hover {
    background-color: #ddd;
}

/* Mobile Styles (let's assume 768px as breakpoint for tablet/mobile screens) */
@media screen and (max-width: 768px) {
    .consultant-dashboard {
        flex-direction: column;
        align-items: center; /* Center items horizontally since flex direction is column */
    }

    .consultant-dashboard .chart-container,
    .consultant-dashboard .table-container {
        max-width: 100%; /* Make sure the containers don't exceed the width of the parent on smaller screens */
        flex-basis: auto; /* Reset the flex basis so that they equally take the available space */
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .consultant-dashboard .chart-container h2,
    .consultant-dashboard .table-container h3 {
        font-size: 1.25rem; /* Reduce font size for headings on smaller screens if necessary */
    }
}
