header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    position: relative;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    background-color: slategrey;
}

nav a {
    margin: 0 20px;
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: #e74c3c;
    transform: translateY(-2px);
}

nav a:active {
    transform: translateY(0);
}

.header-logo {
    height: 40px;
    margin-right: 20px;
}