.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 80px;
}

.dashboard-content {
  flex: 1;
  padding-top: 80px;
  padding: 100px;
  font-size: 1.5em;
}

/*.main-content {*/
/*  flex: 1;*/
/*  padding-top: 80px;*/
/*  max-width: 1200px;  !* or any other value you prefer *!*/
/*  margin: 0 auto;  !* centers the block horizontally *!*/
/*  box-sizing: border-box;*/
/*}*/

/*.dashboard-content {*/
/*  flex: 1;*/
/*  padding: 100px;*/
/*  font-size: 1.5em;*/
/*}*/
